.screen {
  width: 270px;
  height: 670px;
  border: 1px solid black;
  margin: 50px 50px;
  border-radius: 10px;
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDEwMTVfMjI3%2FMDAxNjAyNzMzMTY0MjEx.sX2FfhrgXA6k6MRAaXcF8ka97A0zYpIlsIIaQI7Sab0g.k3WLkZd7ODU1hPCL6aSZt2ECViURQm2K9XJQ7m7BbhUg.JPEG.macrotin%2FIMG_20201015_122840.jpg&type=sc960_832");
}

#status-bar {
  width: 260px;
  height: 20px;
  margin: 3px 3px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
}

.status-bar__column__t {
  margin-right: 5px;
  width: 70px;
}
.status-bar__column__o {
  width: 100px;
  margin-left: 10px;
}
.status-bar__column__th {
  width: 70px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.todo {
  color: green;
  margin-left: 5px;
  font-weight: 900;
  margin-top: 20px;
}
.circles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  animation: superSexyCoinFlip 1s ease-in-out infinite;
}
@keyframes superSexyCoinFlip {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  background-color: white;
}
.music {
  width: 270px;
  height: 100px;

  margin-top: 20px;
  display: flex;
  border: 1px solid black;
}
.music__pic {
  width: 100px;
  height: 100px;
}
.disc {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.music__box {
  width: 160px;
  height: 100px;
}
.music__box__name {
  height: 50px;
  width: 160px;
  display: flex;
}
.music__box__name__o {
  height: 50px;
  width: 100px;
  color: #e2d0ba;
  display: flex;
  padding: 12px 0;
  font-weight: 900;
  font-style: italic;
}
.music__box__btn {
  height: 50px;
  width: 160px;
  display: flex;
  color: #e2d0ba;
}
.music__box__goback {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #e2d0ba;
}
.music__box__play {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #e2d0ba;
}
.music__box__faster {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #e2d0ba;
}
.main__one {
  width: 270px;
  height: 120px;
  display: flex;
}
.main__one__one {
  width: 90px;
  height: 120px;
}
.main__one__one__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: yellow;
  margin-top: 20px;
}
.main__one__one__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__one__two {
  width: 90px;
  height: 120px;
}
.main__one__two__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: yellowgreen;
  margin-top: 20px;
}
.main__one__two__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__one__three {
  width: 90px;
  height: 120px;
}
.main__one__three__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #blue;
  margin-top: 20px;
}
.main__one__three__name {
  display: flex;
  justify-content: center;
  color: white;
}

.main__two {
  width: 270px;
  height: 120px;
  display: flex;
}
.main__one__one {
  width: 90px;
  height: 120px;
}
.main__two__one__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #f85a2a;
  margin-top: 20px;
}
.main__two__one__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__two__two {
  width: 90px;
  height: 120px;
  margin-left: 5px;
}
.main__two__two__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: green;
  margin-top: 20px;
}
.main__two__two__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__two__three {
  width: 90px;
  height: 120px;
}
.main__two__three__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: purple;
  margin-top: 20px;
}
.main__two__three__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__three {
  width: 270px;
  height: 120px;
  display: flex;
}
.main__three__one {
  width: 90px;
  height: 120px;
}
.main__three__one__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: silver;
  margin-top: 20px;
}
.main__three__one__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__three__two {
  width: 90px;
  height: 120px;
}
.main__three__two__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: brown;
  margin-top: 20px;
}
.main__three__two__name {
  display: flex;
  justify-content: center;
  color: white;
}
.main__three__three {
  width: 90px;
  height: 120px;
}
.main__three__three__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: black;
  margin-top: 20px;
}
.main__three__three__name {
  display: flex;
  justify-content: center;
  color: white;
}
.calltab {
  width: 260px;
  height: 120px;
  display: flex;
  justify-content: space-around;
}
.calltab__call {
  width: 90px;
  height: 120px;
}
.calltab__call__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;

  margin-left: 10px;
  border-radius: 15px;
  background-color: green;
  margin-top: 20px;
}
.mane {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 0.5px solid green;
  margin-top: -10px;
  margin-left: -10px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  animation: supee 5s linear infinite;
}
@keyframes supee {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(360deg) translateY(-20px);
  }
  100% {
    transform: rotateY(0);
  }
}
.calltab__call__name {
  display: flex;
  justify-content: center;
  color: white;
}
.calltab__message {
  width: 90px;
  height: 120px;
}
.calltab__message__pic {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  display: flex;

  margin-left: 10px;
  border-radius: 15px;
  background-color: bisque;
  margin-top: 20px;
}
.calltab__message__name {
  display: flex;
  justify-content: center;
  color: white;
}
.many {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 0.5px solid green;
  margin-top: -10px;
  margin-left: -10px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  animation: super 5s linear infinite;
}
@keyframes super {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(360deg) translateY(-20px);
  }
  100% {
    transform: rotateY(0);
  }
}
@media screen and (orientation: portrait) {
  div {
    display: none;
  }
}
